$black: #000;
$bg: #FDFDFD;
$text-secondary: #676C74;
$text-secondary-light: #C1C4C9;
$text-black: #26292D;
$black-hover: #555A61;
$white: #fff;
$white-bg: #F6F6F6;
$border-hover: #D9E0E9;
$text-primary: #4085EC;
$shadow: #F1F1F1;
$text-light-gray: #BDBEBF;
$gray-hover: #DEDEDE;
$light-gray-hover: #989BA0;
$cookie-links: #B2B2B2;
$light-gray-color: #92969B;